/* Set a maximum width for the container and center it */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Center-align the heading */
h2 {
  text-align: center;
}

/* Remove list styles and add margin to list items */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Styling for buttons */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Additional button styles */
button.update-btn {
  background-color: #28a745;
}

button.delete-btn {
  background-color: #dc3545;
}

/* Styles for the Swiper container */
.swiper {
  width: 100%;
  height: 100%;
}

/* Background image styles */
.bg-image {
  height: 100%;
}

/* Text overlay on the background image */
.bg-text {
  /* Center the text vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}

/* Styles for individual Swiper slides */
.swiper-slide {
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
  overflow: hidden;
  text-align: center;
  width: 500px !important;
}

/* Styles for images inside Swiper slides */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for the Swiper container */
.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

/* Styles for appending buttons */
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

/* Styles for individual appending buttons */
.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

/* Importing a Google Font */
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

/* Styling for blockquotes */
blockquote {
  padding: 30px 70px;
  font-weight: 100;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  color: white;
}

/* Quotation marks for blockquotes */
.swiper-slide:before,
.swiper-slide:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

.swiper-slide:before {
  content: "“";
  left: 0rem;
  top: -2rem;
}

.swiper-slide:after {
  content: "”";
  right: 0rem;
  bottom: 2rem;
}

/* Styles for citation in blockquotes */
cite {
  line-height: 3;
  text-align: left;
  text-transform: uppercase;
  font-family: "Special Elite", cursive;
  color: white;
}
