.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-text {
  color: "red";
}
h2 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label,
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.register-link {
  color: #007bff;
}
